* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
  background: black;
}

img {
  width: 100%;
}

.container_ {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background: black;
  margin-top: 0;
  padding: 1rem 0 2rem 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #808080;
}

.footer .copy {
  margin-top: 30px;
  margin-bottom: 10px;
}

.footer i {
  color: white;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  margin-right: 50px;
}

.footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

.footer .info ul {
  list-style: none;
  display: inline;
  font-size: 15px;
}

.footer .info ul li {
  margin-top: 8px;
}

.footer .social_media {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
}

.grid {
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description {
  padding: 3rem;
}

.description p {
  text-align: justify;
}

.main {
  height: 80vh;
  width: 100vw;
  background: url(../img/background-login.jpg) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main h1 {
  font-size: 64px;
  width: 100%;
  margin-bottom: 20px;
  font-weight: bold;
}

.main span {
  font-size: 26px;
  width: 100%;
  margin-bottom: 40px;
}

.main p {
  width: 100%;
  margin-top: 40px;
  font-size: 22px;
}

.logo {
  text-decoration: none;
  margin-left: 50px;
}

.logo img {
  width: 8rem;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .entrar {
  margin-right: 50px;
  background-color: #e50914;
  color: white;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px 18px;
  border-radius: 3px;
  text-decoration: none;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  height: 80vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text {
  z-index: 1;
  width: 100%;
}

.section {
  background: black;
  padding: 4rem 0;
  border-top: 8px solid #222;
}

.section h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

.section p {
  font-size: 26px;
}

.last-section {
  border-bottom: 8px solid #222;
}

.form-login {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 400px 250px;
      grid-template-columns: 400px 250px;
  margin-top: 30px;
}

.form-login input {
  padding: 20px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.form-login button {
  background-color: #e50914;
  outline: none;
  color: white;
  border: none;
  font-size: 30px;
}

.form-login button a {
  text-decoration: none;
  color: white;
}

.form-login button a:hover {
  color: rgba(0, 0, 0, 0.4);
}

.form-login i {
  margin-left: 20px;
}

@media screen and (max-width: 720px) {
  .main h1 {
    font-size: 32px;
    width: 100%;
    margin-bottom: 20px;
  }
  .main span {
    font-size: 13px;
    width: 100%;
    margin-bottom: 20px;
  }
  .main p {
    width: 100%;
    font-size: 11px;
  }
  .form-login {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 200px;
        grid-template-columns: 200px 200px;
    margin-top: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    width: 100%;
  }
}
/*# sourceMappingURL=login.css.map */