/* imports */
@import 'mixins';

/* variables */

$background-color: #000000;
$primary-text-color: #5C5E62;
$secondary-text-color: #ffffff;
$nav-text-color: #171A20;
$primary-font: 'Raleway', sans-serif;
$secondary-font: Arial, sans-serif;

body {
    background-color: $background-color;
    color: $secondary-text-color;
    font-family: $primary-font;
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(https://www.tesla.com/tesla_theme/assets/img/_vehicle_redesign/roadster_and_semi/roadster/hero-mobile@2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond-above(sm) {
        background-image: url(https://www.tesla.com/tesla_theme/assets/img/_vehicle_redesign/roadster_and_semi/roadster/hero.jpg);
    }


    .navbar-brand {
        margin-left: 20px;
        margin-right: 20px;
        background-image: url(../images/logo.svg);
        background-repeat: no-repeat;
        background-size: 100px;
        width: 250px;
        height: 40px;
    }

    #navbarToggler {
        font-size: 16px;
        font-weight: 600;
        color: $nav-text-color;
    }

    #main-title {
        text-align: center;
        color: $primary-text-color;
        font-size: 3.5rem;
        padding: auto;
        margin: 40px;
    }

    #hero-bottom {
        color: $secondary-text-color;

        .description-row {
            padding: 25px;
            font-size: 20px;
        }

        .p-top {
            font-size: 32px;
            font-family: $secondary-font;
            font-weight: bold;
            margin-bottom: 0;
        }

        .p-bottom {
            font-size: 16px;
        }

        .button-grid{
            margin: 0px;
            padding: 0px;
            .reserve-button {
                width: 100%;
                color: $secondary-text-color;
                background-color: transparent;
                border: 2px solid $secondary-text-color;
                border-radius: 30px;
                vertical-align: center;
                text-transform: uppercase;

                @include respond-above(sm){
                    width: 180%;
                }
            }
        }

        .arrow-button{
            color: $secondary-text-color;
        }

        .container {
            max-width: 720px;
            text-align: center;
        }
    }
}


#video-stats {

    /*     display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;

    @include respond-above(xs){
        .responsive-iframe-mobile{
            //display: flex;
            width: 768px;
            height: 216px;
            margin: 50px;
        }
    
        .responsive-iframe-desktop{
            display: none;
        }
    }
     iframe {
        width: 768px;
        height: 216px;
        margin: 50px;

        @include respond-above(md) {
            width: 1240px;
            height: 349px;
            margin: 100px;
            display: block;
        }
    }
 
    @include respond-above(md){
        .responsive-iframe-mobile{
            display: none;
        }

        .responsive-iframe-desktop{
            //display: flex;
            width: 1240px;
            height: 349px;
            margin: 100px;
            //display: block;
        }
    } */

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-color;

    iframe {
        width: 768px;
        height: 216px;
        margin: 50px;

        @include respond-above(md) {
            width: 1240px;
            height: 349px;
            margin: 100px;
            display: block;
        }
    }

    #stats {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 16px;
        color: $secondary-text-color;

        .head {
            text-align: left;
            padding-left: 0;
            border-top: 0;
        }

        .cell-left {
            text-align: left;
            padding-left: 0;
        }

        .cell-right {
            text-align: right;
            font-weight: bold;
            padding-right: 0;
        }

        .last-row {
            border-bottom: 0;
        }

        @include respond-above(sm) {
            width: 600px;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }
}

#aero {
    width: 100%;
    height: 100vh;
    padding-top: 0px;
    margin-top: 0px;
    background-image: url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150% auto;
    background-color: $background-color;
    color: $secondary-text-color;
    display: flex;
    align-items: center;

    @include respond-above(sm) {
        background-size: 90% auto;
    }

    .container {
        width: 60%;
        margin-top: 350px;

        .h2 {
            font-size: 28px;
            clear: both;
            width: 90%;
            text-align: left;
        }

        .p {
            font-size: 16px;
        }

        @include respond-above(sm) {
            margin-top: 450px;
        }

    }

}

#interior {
    width: 100%;
    height: 60vh;
    background-color: $background-color;
    align-items: center;
    justify-content: center;

    .figure {
        max-width: 100%;

        .figure-caption {
            margin: 40px;
            margin-top: 10px;
            font-size: 20px;
            color: $secondary-text-color;

            #caption-title {
                margin-right: 325px;
                font-size: 22px;
                font-weight: bold;
            }
        }
    }

    @include respond-above(sm) {
        width: 100%;
        height: 100vh;
        background-color: $background-color;
        align-items: center;
        justify-content: center;

        .figure {
            max-width: 70%;

            .figure-caption {
                margin: 0px;
                margin-top: 10px;
                font-size: 18px;
                color: $secondary-text-color;

                #caption-title {
                    margin-right: 20px;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

#topview {
    width: 100%;
    height: 120vh;
    background-image: url(../images/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 180% auto;
    background-color: $background-color;
    color: $secondary-text-color;
    display: flex;
    align-items: flex-end;
    font-size: 18px;

    .topview-title {
        margin-bottom: 20px;
    }

    .container {
        margin-bottom: 60px;
    }

    @include respond-above(sm) {
        background-size: 110% auto;
    }
}

#unveil {
    width: 100%;
    height: 100vh;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .video {
        width: 768px;
        height: 216px;

        @include respond-above(md) {
            width: 992px;
            height: 768px;
            margin-bottom: 0px;
            display: block;
        }
    }

    .unveil-text {
        color: $secondary-text-color;
        font-size: 16px;
        margin-top: -100px;
        margin-bottom: -180px;
    }

}

.tesla-footer {
    width: 100%;
    background-color: $background-color;
    text-align: center;

    #vertical-line{
        width: 1px;
        height: 200px;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.25);
        margin-bottom: 40px;
    }

    .footer-button {
        width: 180px !important;
        margin: 5px;
        color: $secondary-text-color;
        background-color: transparent;
        border: 2px solid $secondary-text-color;
        border-radius: 30px;
        vertical-align: center;
        text-transform: uppercase;

    }

    .tesla-roadster-footer {
        margin-top: 70px;
        .nav-link {
            font-size: 14px;
            text-decoration: underline;
            color: $secondary-text-color;
        }
    }
}