*{
    margin: 0;
    padding: 0;
}

body{

    font-family: sans-serif;
    color: white;
}

.main{

    height: 85vh;
    width: 100vw;
    background: url(img/background-login.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{

        font-size: 64px;
        max-width: 510px;
       
        
    }

    span{

        font-size: 26px;

    }

    p{

        font-size: 19px;

    }

}

.logo{

    text-decoration: none;
    margin-left: 50px;

    img {

        width: 8rem;
    }
    
}

.header{

    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    top: 25px;
    color: white;
    justify-content: space-between;

    .entrar{

        margin-right: 50px;
        background-color: #e50914;
        color: white;
        display: inline-block;
        align-self: flex-start;
        padding: 8px 18px;
        border-radius: 3px;
        text-decoration: none;
    }

}

.gradient{

    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    height: 85vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text{

    display: grid;
    justify-items: center;
    z-index: 1;

}

.form-login{

    display: grid;
    grid-template-columns: 500px 250px;
    margin-top: 30px;

    input{

        padding: 20px 10px;
        font-size: 18px;
        font-family: sans-serif;
    }

    button{

        background-color: #e50914;
        outline: none;
        color: white;
        border: none;
        font-size: 30px;

    }

    i{

        margin-left: 20px;
    }

}