* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: white;
  overflow-x: hidden;
}

.container_ {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background: black;
  margin-top: 0;
  border-top: 8px solid #222;
  padding: 1rem 0 2rem 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1fr;
      grid-template-columns: 1.2fr 1fr;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.device-pile .video-tv {
  z-index: -0.5;
  top: 70px;
  left: 90px;
}

.img-tv {
  position: relative;
}

.img-tv img {
  position: relative;
  z-index: 1;
}

.img-tv .video-tv {
  position: absolute;
  top: 85px;
  left: 74px;
}

.main {
  height: 80vh;
  width: 100vw;
  background: url(img/background-login.jpg) center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main h1 {
  font-size: 64px;
  max-width: 510px;
  margin-bottom: 20px;
}

.main span {
  font-size: 26px;
  margin-bottom: 20px;
}

.main p {
  font-size: 22px;
}

.logo {
  text-decoration: none;
  margin-left: 50px;
}

.logo img {
  width: 8rem;
}

.header {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 25px;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .entrar {
  margin-right: 50px;
  background-color: #e50914;
  color: white;
  display: inline-block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 8px 18px;
  border-radius: 3px;
  text-decoration: none;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(0, 0, 0, 0.8)), color-stop(60%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  position: absolute;
  height: 80vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.text {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  z-index: 1;
}

.section {
  background: black;
  padding: 4rem 0;
  border-top: 8px solid #222;
}

.section h1 {
  font-size: 50px;
  margin-bottom: 16px;
}

.section p {
  font-size: 26px;
}

.form-login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 250px;
      grid-template-columns: 500px 250px;
  margin-top: 30px;
}

.form-login input {
  padding: 20px 10px;
  font-size: 18px;
  font-family: sans-serif;
}

.form-login button {
  background-color: #e50914;
  outline: none;
  color: white;
  border: none;
  font-size: 30px;
}

.form-login i {
  margin-left: 20px;
}
/*# sourceMappingURL=login.css.map */