*{
    margin: 0;
    padding: 0;
}

body{

    font-family: sans-serif;
    color: white;
    overflow-x: hidden;
}

img{

    width: 100%;
}

.container_{

    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;

}

.footer{

    background: black;
    margin-top: 0;
    border-top: 8px solid #222;
    padding: 1rem 0 2rem 0;
    display: grid;
    justify-items: center;

}

.grid{
    
    width: 60%;
    align-items: center;

}

.description{

    padding: 3rem;

    p{
        text-align: justify;
    }
}


.main{

    height: 80vh;
    width: 100vw;
    background: url(img/background-login.jpg) center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1{

        font-size: 64px;
        width: 100%;
        margin-bottom: 20px;
       
    }

    span{

        font-size: 26px;
        width: 100%;
        margin-bottom: 20px;

    }

    p{

        width: 100%;
        font-size: 22px;

    }

}

.logo{

    text-decoration: none;
    margin-left: 50px;

    img {

        width: 8rem;
    }
    
}

.header{

    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    top: 25px;
    color: white;
    justify-content: space-between;

    .entrar{

        margin-right: 50px;
        background-color: #e50914;
        color: white;
        display: inline-block;
        align-self: flex-start;
        padding: 8px 18px;
        border-radius: 3px;
        text-decoration: none;
    }

}

.gradient{

    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 60%,rgba(0,0,0,.8) 100%);
    position: absolute;
    height: 80vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.text{

    z-index: 1;
    width: 100%;

}

.section{

    background: black;
    padding: 4rem 0;
    border-top: 8px solid #222;
  
    h1{

        font-size: 50px;
        margin-bottom: 16px;
    }

    p{

        font-size: 26px;
    }


}

.form-login{

    display: grid;
    justify-content: center;
    grid-template-columns: 400px 250px;
    margin-top: 30px;

    input{

        padding: 20px 10px;
        font-size: 18px;
        font-family: sans-serif;
    }

    button{

        background-color: #e50914;
        outline: none;
        color: white;
        border: none;
        font-size: 30px;

    }

    i{

        margin-left: 20px;
    }

}


@media screen and (max-width: 720px){

    .main{
    
        h1{
    
            font-size: 32px;
            width: 100%;
            margin-bottom: 20px;
           
        }
    
        span{
    
            font-size: 13px;
            width: 100%;
            margin-bottom: 20px;
    
        }
    
        p{
    
            width: 100%;
            font-size: 11px;
    
        }
    
    }

    .form-login{

        display: grid;
        grid-template-columns: 200px 200px;
        margin-top: 30px;
    
    }
    
    
}

@media screen and (max-width: 1000px){

    .grid{
        
        width: 100%;

    }

}