* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.full_site {
  padding: 0;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #141414ff;
}

.container_ {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(20%, rgba(0, 0, 0, 0.2)), color-stop(80%, rgba(20, 20, 20, 0.2)), to(#141414)), url(img/EUPHORIA.jpg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 20%, rgba(20, 20, 20, 0.2) 80%, #141414 100%), url(img/EUPHORIA.jpg);
  background-size: cover;
  padding: 0.26rem 0.75rem 0 0.75rem;
}

h1 {
  font-size: 20px;
  line-height: 1.25;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 75%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  color: white;
}

.banner .subtitle {
  color: white;
  font-size: 20px;
  line-height: 1.25;
  padding-top: .5rem;
  padding-bottom: .1rem;
  text-align: justify;
  width: 400px;
}

.logo {
  text-decoration: none;
  color: white;
}

.logo img {
  width: 6rem;
}

.main_content {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 0 3rem;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slide;
          animation-name: slide;
}

@-webkit-keyframes slide {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

.header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu ul li {
  padding-right: 1rem;
  margin-top: 1rem;
}

.links {
  text-decoration: none;
}

.menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  font-size: .87rem;
}

.menu .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .user img {
  width: 2.5rem;
}

.buttons {
  margin-top: 3rem;
}

.buttons .btn {
  padding: 0.6rem;
  color: black;
  margin-right: .50rem;
  border-radius: .50rem;
  font-weight: 600;
  background: white;
  font-family: inherit;
  font-size: 100%;
  border: 0;
}

.buttons .btn:hover {
  border: 3px solid white;
  color: white;
}

.buttons .btn i {
  margin-right: 1rem;
}

.category h2 {
  color: white;
  font-size: 22px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
}

.slider {
  margin-bottom: 30px;
}

.movie img {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  display: block;
  border-radius: 5px;
}

.movie img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 3px solid white;
}

.footer {
  width: 100%;
}

.footer img {
  margin-top: 20px;
  width: 30px;
  height: 30px;
  margin-right: 50px;
  margin-bottom: 40px;
}

.social_media {
  text-align: center;
}

@media screen and (max-width: 3400px) {
  .movie img {
    width: 100%;
  }
}

@media screen and (max-width: 1450px) {
  .category {
    text-align: center;
  }
  .slider {
    width: 100%;
    margin-right: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .movie img {
    width: 100%;
  }
  .movie {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .container_ {
    background-image: url(img/EUPHORIA.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
  }
}

@media screen and (max-width: 850px) {
  .container_ {
    background-image: url(img/EUPHORIA.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
  }
}

@media screen and (max-width: 600px) {
  .container_ {
    background-image: url(img/EUPHORIA.png);
    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
  }
  .category {
    text-align: center;
  }
  .banner .subtitle, .actors {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 350px;
  }
  .banner h1 {
    text-align: center;
  }
  .footer img {
    width: 30px;
    height: 30px;
    margin-right: 38px;
  }
  .movie img {
    margin-left: 20px;
  }
  .buttons .btn {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */