
@mixin MainSlide(){

    @keyframes slide {

        from{
    
            opacity: 0.05;
        }
    
        to{
    
            opacity: 1;
        }

    }

   animation-duration: 4s;
   animation-name: slide;
 
}

*{
    box-sizing: border-box;
}

.full_site{

    padding: 0;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #141414ff;

}   

#menu_cel{

    display: none;
}

.container_{

    height: 100vh;
    background-image: linear-gradient(

    to bottom, 
    rgba(0,0,0,0.8) 0%,
    rgba(0,0,0,0.2) 20%,
    rgba(20,20,20,0.2) 80%,
    rgba(20,20,20,1) 100%

    ),

    url(img/la_casa_index.jpg);

    background-size: cover;
    padding: 0.26rem 0.75rem 0 0.75rem;
}



h1{

    font-size: 20px;
    line-height: 1.25;
    
}

.banner{

    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    width: 100%;
    color: white;
}


.banner .subtitle{

    color: white;
    font-size: 20px;
    line-height: 1.25;
    padding-top: .5rem;
    padding-bottom: .1rem;
    text-align: justify;
    width: 35%;

    img{

        width: 30%;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}


.logo{

    text-decoration: none;
    color: white;

    img {

        width: 6rem;
    }
    
}

.main_content{

    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 0 3rem;

    @include MainSlide();

}


.movie img{

    width: 100%;
    margin-bottom: .9rem;
}

.menu{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    ul{
        display: flex;
        list-style: none;
        align-items: center;

        li{
            padding-right: 1rem;
            margin-top: 1rem;
        }
    }
}

.header{

    display: flex;
    align-items: center;
}

.links{

    text-decoration: none;
}

.menu_left{

    display: flex;
    color: white;
    font-size: .95rem;
    text-align: left;
}

.menu_right{

    display: flex;
    color: white;
    font-size: 1rem;
    justify-content: right;

}


.menu .user{

    display: flex;
    align-items: center;
}


.menu .user img{

    width: 2rem;
   
}

.buttons{

    margin-top: 3rem;

}

.buttons .btn{

    padding: 0.7rem;
    color: white;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-right: .50rem ;
    border-radius: .3rem;
    font-weight: bold;
    background: rgba(0,0,0,0.6);
    font-size: 22px;
    border: 0;


    &:hover{

        border: 3px solid white;
        color: white;

    }
}
   
.buttons .btn i {

    margin-right:1rem;
}

.category h2{

    color: white;
    font-size: 22px;
    line-height: 20px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
}

.slider{

    margin-bottom: 30px;
}

.movie{

    img{

        transition: opacity 1s;
        display: block;
        border-radius: 5px;

        &:hover{

            transform: scale(1.1);
            border: 3px solid white;

        }    

    }

}

.footer{

    width: 100%;

    img{

     margin-top: 20px;
     width: 30px;
     height: 30px;
     margin-right: 50px;
     margin-bottom: 40px;

    }

}

.social_media{

    text-align: center;
}


@media screen and (max-width: 920px) {

    .banner .subtitle{


        width: 100%;


        img{

            width: 40%;
        }

    }


}

@media screen and (max-width: 780px) {

    .menu_left{

        display: none;
    }

}

