body{
    display: block;
    background-color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    direction: ltr;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#CCCCCC), to(#000000));
}

.bg_filmes{
    background-image: url("/assets/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    padding: 50px;
    background:rgb(0, 0, 0);
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.7861519607843137) 100%
    );
}

.logo{
    max-width: 10%;
    max-height: 20%;
}

#caixa_login{
    background: rgba(0, 0, 0, 0.85);
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    width: 25%;
}

h1{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

.inputLogin{
    background: #1a1a1a;
}